Package: com.axs.keyboardcolor
Name: Keyboard Color Tweak
Version: 1.0
Architecture: iphoneos-arm
Description: 自定义键盘颜色插件 - 支持 iOS 16 无根越狱
Maintainer: Axs
Author: Axs
Section: Tweaks
Depends: firmware (>= 16.0), preferenceloader (>= 2.2.4)
